.carousel-inner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.carousel-item img {
    height: 80vh;
    min-height: 500px;
}

.carousel-caption {
    bottom: 200px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    font-size: 18px;
    line-height: 1.9;
}


@media only screen and (max-width: 767px) {

    .carousel-caption {
        bottom: 120px;
    }

    .carousel-caption h5 {
        font-size: 18px;
    }

    .carousel-caption p {
        line-height: 1.3;
        font-size: 12px;
    }
}